@import url("960_12_col.css");


header {
    background-image: url(/Resources/media/Gateway2Music\ -\ Twitch\ Banner.jpg);
    height: 400px;

}
nav {
    text-align: right;
}

nav li {
    display: inline;
}
.logo {
    height: 200px;
}

