@import url("960_12_col.css");


header {
    background-image: url(/Resources/media/Gateway2Music\ -\ Twitch\ Banner.jpg);
    height: 200px;
    overflow: hidden;

}

body {
    background-color: #485885;
}

.full {
    background-color: #21C1EB; 
}
nav li {
    display: inline;
}
.logo {
    height: 200px;
}

#about, #projects {
    height: 300px;
    background-color: #21C1EB;
    color: #0738B8;
    text-align: left;
    padding: 10px;
}

#skills {
    height: 200px;
    background-color: #21C1EB;
}
