@import url("960_12_col.css");


header {
    background-image: url(/Resources/media/Gateway2Music\ -\ Twitch\ Banner.jpg);
    height: 200px;
    overflow: hidden;

}

p,
li {
    font-family: 'Original Surfer', cursive;
}

h1,
h2 {
    font-family: 'Pangolin', cursive;
}

body {
    background-color: #485885;
}

.full {
    background-color: #21C1EB; 
}
nav li {
    display: inline;
}
.logo {
    height: 200px;
    margin-top: 35px;
}

#about, #projects {
    height: 300px;
color: black;
    text-align: left;
    padding: 10px;
}

#skills {
height: 200px;
text-align: center;
margin-top: 30px;
background-color: white;
}

footer {
    margin: auto auto;
    text-align: center;
}